<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>登录界面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class=" container">
    <div class="row">
        <h2 class="text-center">登录</h2>
        <form  th:action="@{/login}" method="post" class="form-horizontal" >
            <div class="form-group has-success">
                <label class="col-lg-5 control-label" >学 号</label>
                <div class="col-lg-3">
                    <input type="text"  class="form-control" name="username" id="username" placeholder="学号"/>
                </div>
            </div>
            <div class="form-group has-success" >
                <label class="col-lg-5 control-label">密 码</label>
                <div class="col-lg-3">
                    <input type="password" class="form-control" name="password" id="password" placeholder="密码"/>
                </div>
            </div>
            <div class="form-group" align="center">
                <button class="btn btn-info" type="submit">登 录</button>
                <button class="btn btn-info" type="button"
                onclick="javascrtpt:window.location.href='signup'">注 册</button>
                <button class="btn btn-info" type="reset">清 空</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>