<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>注册界面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:include="/Navigator::copy"/>
<div class=" container">
    <div class="row">
        <h2 class="text-center">注册</h2>
        <form  th:action="@{/signup}" method="post" class="form-horizontal" >
            <div class="form-group has-success">
                <label class="col-lg-5 control-label" >学 号</label>
                <div class="col-lg-3">
                    <input type="text"  class="form-control" name="username" id="username"/>
                </div>
            </div>
            <div class="form-group has-success" >
                <label class="col-lg-5 control-label">密 码</label>
                <div class="col-lg-3">
                    <input type="password" class="form-control" name="password" id="password"/>
                </div>
            </div>
            <div class="form-group has-success">
                <label class="col-lg-5 control-label" >名 称</label>
                <div class="col-lg-3">
                    <input type="text"  class="form-control" name="role" id="role"/>
                </div>
            </div>
            <div class="form-group has-success">
                <label class="col-lg-5 control-label" >QQ</label>
                <div class="col-lg-3">
                    <input type="text"  class="form-control" name="qq" id="qq"/>
                </div>
            </div>
            <div class="form-group has-success">
                <label class="col-lg-5 control-label" >邮箱</label>
                <div class="col-lg-3">
                    <input type="text"  class="form-control" name="email" id="email"/>
                </div>
            </div>
            <div class="form-group" align="center">
                <input type="submit" class="btn btn-info" value="确定" />
            </div>
        </form>
    </div>
</div>
</body>
</html>